{% extends "base.html" %}


{% block content %}

<!-- <h1>RMSafe</h1> -->


<p>RMSafe is a remote monitoring system designed for senior citizens to help keep them safe 
    within their own homes. Our system utilizes image and video recognition using machine 
    learning with cameras alongside vibration sensors for more private parts of the home.
     Our product's primary goal is to monitor the user's health, mainly whether the user falls or not. 
     The system will interact with the user through a webpage on which sensor and video data are monitored 
     and ways to contact medical personnel are provided.</p>

{% endblock %}